<div>
    <h1>Lista de productos faker</h1>
    <div>
        {{#each products}}
        <p>{{this.title}}</p>
        <img src={{this.image}}>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <br>
        {{/each}}
    </div>
    <a href="http://localhost:8080/"><button>Agregar Productos</button></a>
</div>