<div>
    <h1>Hola</h1>
        <div>
            <% productos.products.forEach(producto => { %>
                <p><%= producto.name  %> </p>
                <p><%= producto.price  %> </p>
                <img src=<%= producto.image %>>
            <% }) %>
        </div>
        <a href="http://localhost:8080/"><button>Agregar Productos</button></a>
</div>