<div>
    <h1>Lista de productos</h1>
    {{#each productos.products}}
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
        <img src={{this.image}}>
        <br>
    {{/each}}
    <p>{{mensaje}}</p>
    <a href="http://localhost:8080/"><button>Agregar Productos</button></a>
</div>